* {
	box-sizing: border-box;
	font-family: sans-serif;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: rgb(97, 97, 97);
}

li {
	list-style: none;
}

.btns {
	padding: 10px 20px;
	margin-right: 6px;
	background: transparent;
	border: none;
	border: .6px solid #ccc;
	border-radius: 5px;
	color: #323232;
	cursor: pointer;
	transition: all .2s;
}
.btns:hover {
	border: .6px solid #9e9e9e;
	color: #232323;
	transition: all .2s;
	scale: 1.1;
}

.btns:focus {
	border: 1px solid #000;
	color: #000;
	background-color: #ededed;

}